Oglo2.xcodeproj/project.xcworkspace/xcuserdata/charles-hubertbasuiau.xcuserdatad/UserInterfaceState.xcuserstate
Jenkins.xcodeproj/project.xcworkspace/xcuserdata/charles-hubertbasuiau.xcuserdatad/UserInterfaceState.xcuserstate
Jenkins.xcodeproj/xcuserdata/charles-hubertbasuiau.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
